<h1><%= @discussion.title %></h1>
<h2>For: <%= link_to @project.title, project_path(@project) %></h2>
<%= @discussion.description %>
<hr>
<%= render '/comments/new' %>
<hr>
<div id="comment-list">
<% @comments.each do |com| %>
  <%= render '/comments/comment', com: com %>
<% end %>
</div>
