<h1>Update your password</h1>
<%= bootstrap_form_tag, url: change_password_path, method: :patch do |f| %>

  <%= f.password_field :password %>

  <%= f.password_field :new_password %>

  <%= f.password_field :new_password_confirmation %>

  <%= f.submit "Update password" %>
<% end %>
