<div class=project>
  <h1><%= link_to project.title, project_path(project) %></h1>
  <p><%= project.description %></p>
  <%= project.due_date %>
  <p>Tags: <%= project.tags.map{ |t| t.title.capitalize }.join(', ') %></p>
  <p>Members: <%= project.users.map{ |t| t.full_name.capitalize }.join(', ') %></p>
</div>
