<div class=project>
  <h1><%= link_to project.title, project_path(project) %></h1>

  <p><%= project.description %></p>
  <%= project.due_date %>

  <p>Tags: <%= project.tags.map{ |t| t.title.capitalize }.join(', ') %></p>

  <p>Members: <%= project.users.map{ |t| t.full_name.capitalize }.join(', ') %></p>

  <% if project.favorited_by?(current_user) %>
    <%= link_to '<span class="glyphicon glyphicon-star"></span>'.html_safe, project_favorite_path(project, project.favorite_for(current_user)), method: :delete %>
  <% else %>

    <%= link_to(project_favorites_path(project), method: :post) do |g| %>
      <i class="glyphicon glyphicon-star-empty"></i>
    <% end %>

  <% end %>
</div>
