<%= render partial: "display_project", locals: { project: @project } %>

<% if can? :manage, @project %>

  <%= link_to "Edit", edit_project_path %>
  <%= link_to "Delete", project_path, method: "delete", data: {confirm: "Are you sure?"} %>



  <a href="#", data-toggle='modal', data-target='#new-task-modal'>New Task</a>

  <%= render 'tasks/form' %>
  <%= link_to "New Discussion", new_project_discussion_path(@project) %>

<% end %>
<hr>

<%= "<h3>Tasks</h3>".html_safe unless @tasks.empty? %>

<div id="task-list">
  <% @tasks.each do |task| %>
    <%= render '/tasks/task', task: task %>
  <% end %>
</div>

<%= "<h3>Discussions</h3>".html_safe unless @discussions.empty? %>
<% @discussions.each do |discus| %>
  <%=link_to discus.title, project_discussion_path(@project, discus) %>
  <% if can? :manage, discus %>
  <%= link_to "Edit", edit_project_discussion_path(@project, discus) %>
  <%= link_to "Delete", project_discussion_path(@project, discus), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <%= discus.comments.count %> comments
  <hr>
<% end %>
